
<h1>NgRx</h1>
<!-- <router-outlet></router-outlet> -->
<app-counter></app-counter>

<!-- <h2>Book List</h2>
<app-book-list [books]="books!" (add)="onAdd($event)"></app-book-list>

<h2>My Collection</h2>
<app-book-collection class="book-collection" [books]="bookCollection!" (remove)="onRemove($event)">
</app-book-collection> -->


<!-- 
<h2>Ngrx ComponentStore </h2>
<app-example></app-example> -->



<!-- <h2>Behaviorsubject</h2> -->
<!-- <app-parent></app-parent>
<br/>
<app-sibling></app-sibling> -->